# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.  
You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [ ]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [ ]:
driver = webdriver.Chrome(r"C:\Users\Yashika\OneDrive\Desktop\chromedriver.exe")

In [15]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [9]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [10]:
df=pd.DataFrame({'Title': job_title,'Location': job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Analyst/Senior Analyst - R/SQL/Python,"Temp. WFH - Bangalore/Bengaluru, Kolkata, Mumb...",The Nikharv Consultancy,3-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,Target,2-4 Yrs
2,data analyst / data analytics - US MNC (analyt...,"Temp. WFH - Bangalore/Bengaluru, Gurgaon/Gurugram",Aspyra Hr Services,3-8 Yrs
3,Data Analyst (Jr/Sr),Bangalore/Bengaluru,Pole To Win (PTW),1-4 Yrs
4,Business Data Analyst (Sr Exe / Asst Manager),Bangalore/Bengaluru,Talentleads,3-5 Yrs
5,Junior Data Analyst/ Scientist- Fresher Position,"Hybrid - Bangalore/Bengaluru, New Delhi, Mumba...",Sejal Consulting Hub,0-5 Yrs
6,Data Analysts - Compliance Surveillance,Hybrid - Bangalore/Bengaluru,Standard Chartered Bank,4-9 Yrs
7,Sr Data Analyst,Hybrid - Bangalore/Bengaluru,Amolitalents,6-9 Yrs
8,Job Opportunity with Leading MNC - Senior Data...,Bangalore/Bengaluru,Enrich And Enlight Business Consulting,5-7 Yrs
9,Manager/Senior Manager - Data Analyst,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Huquo Consulting Pvt. Ltd,2-7 Yrs

# Question - 2 Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [11]:
driver = webdriver.Chrome(r"C:\Users\Yashika\OneDrive\Desktop\chromedriver.exe")

In [ ]:
driver.get("https://www.naukri.com/")

In [13]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [14]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [16]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [17]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [18]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [19]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [20]:
df=pd.DataFrame({'Title': job_title,'Location': job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",Capgemini,9-14 Yrs
1,Data Scientist,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",Tech Mahindra,7-12 Yrs
2,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
3,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
4,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Birlasoft,8-12 Yrs
5,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Hyderabad...",Birlasoft,8-12 Yrs
6,Data Scientist,Bangalore/Bengaluru,ANZ,2-7 Yrs
7,Data Scientist Knowledge graph,"Hybrid - Bangalore/Bengaluru, Pune",Capco,7-12 Yrs
8,Data Scientist,Bangalore/Bengaluru,Infosys,3-5 Yrs
9,Supply Chain Specialist Staff,Bangalore/Bengaluru,Juniper Networks,7-11 Yrs

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results. 
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get thewebpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scraped data.

In [28]:
driver = webdriver.Chrome(r"C:\Users\Yashika\OneDrive\Desktop\chromedriver.exe")

In [29]:
driver.get("https://www.naukri.com/")

In [30]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [33]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [36]:
filter_sal_btn = driver.find_element(By.XPATH,"//span[@title='3-6 Lakhs']")
filter_sal_btn.click()

In [39]:
filter_btn = driver.find_elements(By.XPATH,"//span[@title='Delhi / NCR']")
for i in filter_btn:
    if i.text =='Delhi / NCR':
        i.click()
time.sleep(2)

In [46]:
job_title = []
job_location = []
company_name = []
experience_required = []
salary_required = []

In [47]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)
    
salary_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft "]')
for i in salary_tags[0:10]:
    salary=i.text
    salary_required.append(salary)

In [48]:
print(len(job_title),len(job_location),len(company_name),len(experience_required),len(salary_required))

10 10 10 10 10

In [49]:
df=pd.DataFrame({'Title': job_title,'Location': job_location,'Company_name':company_name,'Experience':experience_required, 'salary':salary_required})
df

,Title,Location,Company_name,Experience,salary
0,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs,Not disclosed
1,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs,Not disclosed
2,Data Scientist,"Delhi / NCR, Noida(Sector-136 Noida), Ghaziaba...",Extramarks Education,3-5 Yrs,"5,00,000 - 15,00,000 PA."
3,Data Scientist,Noida,Gujarat Fluorochemicals,1-2 Yrs,Not disclosed
4,AWS Data Warehouse Developer - IT Industry,"Delhi / NCR, Bangalore/Bengaluru, Maharashtra",GenNext India Private Limited,4-9 Yrs,"5,00,000 - 10,00,000 PA."
5,Data Scientist,Permanent Remote,Vizlogic Digital Solutions,2-5 Yrs,"4,00,000 - 6,00,000 PA."
6,Data Scientist,Noida,Metrix Research & Analytics,3-7 Yrs,Not disclosed
7,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs,Not disclosed
8,Junior Data Scientist,Delhi / NCR,Skyleaf Consultants,2-4 Yrs,"4,00,000 - 9,00,000 PA."
9,Modeler,Noida,Resource Access Management Solutions Pvt. Ltd.,3-7 Yrs,Not disclosed

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data asusual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page asusual
6. Repeat this until you get data for 100sunglasses

In [167]:
driver = webdriver.Chrome(r"C:\Users\Yashika\OneDrive\Desktop\chromedriver.exe")

driver.get("https://www.flipkart.com/")

designation = driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys('sunglasses')

In [168]:
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [173]:
import time
Brand_titles = []
Product_Description = []
Price_range = []

start = 0
end = 3

for page in range(start,end):
    titles = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    descriptions = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    prices = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    min_length = min(len(titles), len(descriptions), len(prices))
    for i in range(min_length):
        Brand_titles.append(titles[i].text)
        Product_Description.append(descriptions[i].text)
        Price_range.append(prices[i].text)
    try:
        next_button = driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')
        next_button[0].click()
        time.sleep(3)
    except:
        break
    if len(Brand_titles)>=100:
        break
Brand_titles = Brand_titles[:100]
Product_Description = Product_Description[:100]
Price_range = Price_range[:100]

In [174]:
print(len(Brand_titles), len(Product_Description), len(Price_range))

100 100 100

In [180]:
df=pd.DataFrame({'Title': Brand_titles,'Description': Product_Description,'Price': Price_range})
df

             Title                                        Description   Price
0   ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...    ₹398
1           Resist          Polarized Wayfarer Sunglasses (Free Size)  ₹1,399
2         Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹599
3        Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...    ₹149
4         Fastrack   UV Protection Rectangular Sunglasses (Free Size)    ₹499
..             ...                                                ...     ...
95          PIRASO          UV Protection Rectangular Sunglasses (52)    ₹182
96     Eyewearlabs     Polarized, UV Protection Round Sunglasses (54)  ₹1,519
97            SRPM             UV Protection Wayfarer Sunglasses (50)    ₹149
98       New Specs   UV Protection Rectangular Sunglasses (Free Size)    ₹259
99        Fastrack  Gradient, UV Protection Wayfarer Sunglasses (F...    ₹579

[100 rows x 3 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. 
You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [181]:
driver = webdriver.Chrome(r"C:\Users\Yashika\OneDrive\Desktop\chromedriver.exe")

In [182]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART")

In [204]:
Rating = []
Review_summary  = []
Full_review = []

for i in range(1,20):
    
    for i in driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']"):
        Rating.append(i.text)
    
    for i in driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']"):
        Review_summary.append(i.text)
    
    for i in driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']/div/div"):
        Full_review.append(i.text)

In [205]:
print(len(Rating),len(Review_summary),len(Full_review))

190 190 190

In [206]:
Review = pd.DataFrame({})
Review['Rating'] = Rating[:100]
Review['Review_summary'] = Review_summary[:100]
Review['Full_review'] = Full_review[:100]
Review

,Rating,Review_summary,Full_review
0,5,Fabulous!,This is my first iOS phone. I am very happy wi...
1,5,Classy product,Best and amazing product.....phone looks so pr...
2,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
3,4,Value-for-money,Just got this iphone 11\nAnd it is most powerf...
4,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
...,...,...,...
95,4,Good choice,So far it’s been an AMAZING experience coming ...
96,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
97,5,Perfect product!,It is just awesome mobile for this price from ...
98,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
99,5,Highly recommended,"Amazing camera quality as expected, battery al..."

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price


As shown in the below image, you have to scrape the above attributes.

In [207]:
driver = webdriver.Chrome(r"C:\Users\Yashika\OneDrive\Desktop\chromedriver.exe")

In [208]:
driver.get("https://www.flipkart.com/")

In [209]:
designation = driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys('sneakers')

In [210]:
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [215]:
input_btn=driver.find_element(By.XPATH,"//div[@class='_3OO5Xc']/input")
input_btn.send_keys('sneakers')

# clicking the search button using xpath function 
btn=driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")
btn.click()

In [226]:
url=driver.find_elements(By.XPATH,"//nav[@class='yFHi8N']//a")
url

[]

In [219]:
brands=[] #empty list
for i in page_url:
    driver.get(i)
    brand_tags=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in brand_tags:
        brands.append(i.text)

In [220]:
pro_description=[] #empty list
for i in page_url:
    driver.get(i)
    des_tags=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in des_tags:
        pro_description.append(i.text)

In [221]:
price=[] #empty list
for i in page_url:
    driver.get(i)
    pri_tags=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in pri_tags:
        price.append(i.text)

In [222]:
sneakers=pd.DataFrame({})
sneakers['Brand']=brands[:100]
sneakers['Product description']=pro_description[:100]
sneakers['Price']=price[:100]
sneakers

Empty DataFrame
Columns: [Brand, Product description, Price]
Index: []

# Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. 
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [227]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
driver = webdriver.Chrome(r"C:\Users\Yashika\OneDrive\Desktop\chromedriver.exe")
driver.get('https://www.amazon.in/')

In [233]:
time.sleep(2)

driver.get(' https://www.amazon.in/')

In [234]:
driver.find_element(By.XPATH,'//input[@id="twotabsearchtextbox"]').send_keys('Laptop')
time.sleep(2)

#clicking the search button

driver.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]').click()

In [235]:
driver.find_element(By.XPATH,"//*[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a").click()
time.sleep(4)

driver.find_element(By.XPATH,"//*[@id='p_n_feature_thirteen_browse-bin/16757432031']/span/a").click()

In [237]:
Title=[]
Ratings=[]
Price=[]

#scrapping the title
for i in driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]'):
    Title.append(i.text)
    Title=Title[:10]

#scrapping the rating

Rating=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]/span[1]')  
for i in Rating:
    Ratings.append(i.get_attribute('aria-label'))
    Ratings=Ratings[:10]
    
#scrapping the Price
for i in driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]'):
    Price.append(i.text)
    Price=Price[:10]
    
#creating the dataframe
Amazon_laptop={'Title':Title,'Ratings':Ratings,'Price':Price}
Amazon_laptop=pd.DataFrame(data=Amazon_laptop)
Amazon_laptop

,Title,Ratings,Price
0,"Fujitsu UH-X 11th Gen Intel Core i7 13.3"" FHD ...",4.3 out of 5 stars,"94,990"
1,LG Gram14 Intel EVO-[12th Gen Corei7/Win11/16G...,4.0 out of 5 stars,"84,500"
2,"ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...",2.8 out of 5 stars,"56,990"
3,Acer Nitro 5 Gaming Laptop Intel core i7 11th ...,4.5 out of 5 stars,"78,106"
4,"ASUS Vivobook Pro 16, Intel Core i9 11th Gen, ...",3.8 out of 5 stars,"89,990"
5,Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...,4.2 out of 5 stars,"79,990"
6,HP Victus Gaming Latest 12th Gen Intel Core i7...,4.3 out of 5 stars,"84,990"
7,Lenovo IdeaPad Gaming 3 Intel Core i7-12700H 1...,3.7 out of 5 stars,"99,990"
8,"HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...",3.9 out of 5 stars,"94,630"
9,"Lenovo ThinkPad E14 Intel Core i7 12th Gen 14""...",3.5 out of 5 stars,"1,02,490"

# Que - 8 Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [265]:
driver = webdriver.Chrome(r"C:\Users\Yashika\OneDrive\Desktop\chromedriver.exe")

In [266]:
driver.get("https://www.azquotes.com/")

In [257]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [267]:
wait = WebDriverWait(driver, 30)
top_quotes_button = wait.until(EC.element_to_be_clickable((By.XPATH, "//a[contains(text(), 'Top Quotes')]")))
top_quotes_button.click()

#quote = []
author  = []
type_of_quotes = []

for i in range(1,20):
    
    for i in driver.find_elements(By.XPATH,"//a[@class='title']"): 
        quote.append(i.text)
    
    for i in driver.find_elements(By.XPATH,"//div[@class='author']"):
        author.append(i.text)
    
    for i in driver.find_elements(By.XPATH,"//div[@class='tags']"):
        type_of_quotes.append(i.text)

In [263]:
print(len(quote),len(author),len(type_of_quotes))

1900 1900 1900

In [264]:
Review = pd.DataFrame({})
Review['quote'] = quote[:1000]
Review['author'] = author[:1000]
Review['type_of_quotes'] = type_of_quotes[:1000]
Review

,quote,author,type_of_quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

# Q9: Write a python program to display list of respected former Prime Ministers of India
(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame

In [295]:
driver = webdriver.Chrome(r"C:\Users\Yashika\OneDrive\Desktop\chromedriver.exe")

In [296]:
driver.get("https://www.jagranjosh.com/")

In [297]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [298]:
driver.find_element(By.XPATH,"//a[contains(text(), 'GK')]").click()

In [301]:
wait = WebDriverWait(driver, 10)
prime_minister_link = wait.until(EC.visibility_of_element_located((By.XPATH, "//a[contains(text(), 'List of all Prime Ministers of India')]")))

# click on the "List of all Prime Ministers of India" link
prime_minister_link.click()

In [302]:
name = []
born_dead = []
term_of_office = []
remarks = []

In [288]:
for i in range(1,20):
    
    for i in driver.find_elements(By.XPATH,'//td[@class="text-center"]/a'): 
        name.append(i.text)
    
    for i in driver.find_elements(By.XPATH,'//td[@class="text-center"]/text()'):
        born_dead.append(i.text)
    
    for i in driver.find_elements(By.XPATH,'//td[@class="text-center"]'):
        term_of_office.append(i.text)

MaxRetryError: HTTPConnectionPool(host='localhost', port=56925): Max retries exceeded with url: /session/33596493f0ba1a16ecb7e343e34c0778/elements (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x0000016E3EDB24C0>: Failed to establish a new connection: [WinError 10061] No connection could be made because the target machine actively refused it'))